# Ignore the massive dataset
Datensatz.csv

# Ignore virtual environments
.vscode/
.venv/
venv/
env/

# Ignore Jupyter cache
.ipynb_checkpoints/
__pycache__/

# Ignore other random files in destination
Beleg_code_python.py
Belegaufgabe_Gruppe_1_UNTOUCHED.ipynb
Belegaufgabe_text.txt
